#sessions-icon {
    color: #571B7E;
}

#sessions-title {
    color:#571B7E;
    font-weight: 900;
}

.sidebar ul li:nth-of-type(2) a {
    border-right: 4px solid #571B7E;
}

.main-content {
    position: relative;
    /* background-color: #FDF6EE; */
    background-color: #FFFFFF;
    min-height: 100vh;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    /* margin-top: 58px; */
}

#loading {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  /* Spinner styles */
  .spinner {
    border: 16px solid #e6e6e6;
    border-radius: 50%;
    border-top: 16px solid #571B7E;
    width: 60px;
    height: 60px;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#sessions-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 680px;
    margin: 10px;
    /* background-color: #1A98A6; */
}

.session-card {
    border-radius: 20px;
    /* background-color: #FFFCF8; */
    background-color: #FFFFFF;
    /* display: inline-block; */
    /* flex-direction: column; */
    /* padding-bottom: 18px; */
    margin: 16px;
    font: 200 14px Inter, sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.13);
    width: 280px;
    height: 220px;
    cursor: pointer;
}

.session-card button {
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.bx-copy, .bx-trash {
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.bx-copy:hover {
    color: #1A98A6;
    font-size: 16.5px;
}

.bx-trash:hover {
    color: #FF0000;
    font-size: 16.5px;
}

#session-card::after {
    content: "";
    width: 350px;
}

#session-card:hover {
    width: 281px;
    height: 218px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.2), 0 2px 4px -2px rgb(0 0 0 / 0.2); */
}

.card-header {
    /* background-color: #571B7E; */
    width: 100%;
    height: 84px;
    border-radius: 18px 18px 0 0;
    border-bottom: 1px solid #000000;
}

.card-title-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 14px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
}



.card-info {
    padding: 1px 14px;
}

.no-sessions-container {
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    font-weight: 300;
}

.s-card-btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 18px;
    align-items: center;
    /* background-color: #1A98A6; */
    margin-top: 16px;
    padding: 9px 18px 0px 14px;
    margin-bottom: 0px;
    border-top: 2px solid rgba(0, 0, 0, 0.13);
}